<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Manage Branch</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
<style type="text/css">
#first .btn, #second .btn, #third .btn, #fourth .btn, #last .btn {
	width: 100px;
	height: 100px;
}

body {
	overflow-x: hidden;
}

#sidebar-wrapper {
	z-index: 1000;
	position: absolute;
	left: 250px;
	width: 250px;
	height: 140vh; margin-left : -250px;
	overflow: auto;
	background: #222;
	margin-left: -250px;
}

#page-content-wrapper {
	width: calc(100% - 250px);
	position: absolute;
	padding: 15px;
	margin-left: 250px;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
	color: gray;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
	border-top: 1px solid #373737;
	border-bottom: 1px solid #1A1A1A;
}

#manage li a {
	display: block;
	text-decoration: none;
	color: #999999;
	border-top: 1px solid #373737;
	border-bottom: 1px solid #1A1A1A;
	text-indent: 2.5rem;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <img src=".." width="30"
				height="30" class="d-inline-block align-top" alt="" /> Klinik
			</a>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav mr-auto">
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link"
						href="{{ url('/login') }}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row flex-xl-nowrap">
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li><a data-toggle="collapse" href="#scheduleapp"
						role="button" aria-expanded="false" aria-controls="scheduleapp">Schedule
							Appointment</a></li>
					<li><a data-toggle="collapse" href="#manage" role="button"
						aria-expanded="false" aria-controls="manage">Manage</a></li>
					<div class="collapse" id="manage">
						<li><a th:href="@{'/admin/managenut'}" role="button">Nutritionist</a></li>
						<li><a th:href="@{'/admin/managepat'}" role="button">Patient</a></li>
						<li><a th:href="@{'/admin/managemealplan'}" role="button">Meal
								Plan</a></li>
						<li><a th:href="@{'/admin/managebranch'}" role="button">Branch</a></li>
					</div>
					<li><a th:href="@{'/admin/managechat'}" role="button">Announcement</a></li>
				</ul>
			</div>
			<div id="page-content-wrapper">
				<div class="flex-column pl-md-3 pb-md-3">
					<div class="card-block">
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#addbranch" id="set">
							<i class="fas fa-plus fa-1x"></i>
						</button>
					</div>
				</div>
				<div class="modal fade" id="addbranch" tabindex="-1" role="dialog"
					aria-labelledby="addbranch" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="title">Make Announcement</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<!-- 		<form action="#" th:action="@{/admin/managechat}"
								th:object="${chat}" method="post">  -->
							<div class="modal-body">
								<div class="flex-column">
									<div class="form-group row">
										<label for="receiverId" class="col-sm-1 col-form-label">To:</label>
										<div class="col-sm-11">
											<select class="custom-select" name="recipient">
												<option disabled="disabled" selected="selected">Select
													recipient</option>
												<option value="1">All</option>
												<option value="2">Only Patient</option>
												<option value="3">Only Nutritionist</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="message"> Message</label>
										<textarea class="form-control" id="message" name="message"
											rows="5" placeholder="Message"></textarea>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button class="btn btn-primary" type="submit" id="sen">Send</button>
							</div>
							<!-- </form>  -->
						</div>
					</div>
				</div>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Sender</th>
							<th>Receiver</th>
							<th>Date Sending</th>
							<th>Date Receiver</th>
							<th>Message</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ct : ${semuaChat}">
							<td th:text="${ct.senderId}"></td>
							<td th:text="${ct.receiverId}"></td>
							<td th:text="${ct.datesending}"></td>
							<td th:text="${ct.datereceiver}"></td>
							<td th:text="${ct.message}"></td>
							<td align="center"><a href="#" class="del"><i
									class="fas fa-trash-alt"></i></a> <input type="hidden"
								class="chatIds" th:value="${ct.idchat}" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<!--  <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
	<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="/static/fontawesome/fontawesome-all.js"></script>
	<script src="../webjars/datatables/js/jquery.dataTables.min.js"></script>
	<script src="../webjars/datatables/js/dataTables.bootstrap4.min.js"></script>

	<script>
		$(document)
				.ready(
						function() {
							$("table").dataTable();

							$(".del")
									.click(
											function() {
												var idx = $(".del").index(this);
												var idChat = $(
														".chatIds:eq(" + idx
																+ ")").val();
												var url = "/delchat";
												var choice = confirm('Do you really want to delete this record?');
												if (choice == true) {
													$.get(url, {
														id : idChat
													}).done(function(data) {
														location.reload();
													});
												} else {
													return false;
												}
												;
											});
						});
		$('select[name="recipient"]').change(function() {
			if ($(this).val() == "1") {
				$.get("/getalluser", function(data) {
					$.each(data, function(index, value) {
						var user = value;
						//var mes = $("textarea#message").val();
						$("#sen").click(function() {
							var mes = $("textarea#message").val();
							var url = "/addchat";
							$.get(url, {
								user : user,
								mes : mes
							}).done(function(data) {
								$("#addbranch").modal("hide");
								location.reload();
							});
						});
					});
				});
			} else if ($(this).val() == "2") {
				$.get("/getallpat", function(data) {
					$.each(data, function(index, value) {
						var user = value;
						$("#sen").click(function() {
							var mes = $("textarea#message").val();
							var url = "/addchat";
							$.get(url, {
								user : user,
								mes : mes
							}).done(function(data) {
								$("#addbranch").modal("hide");
								location.reload();
							});
						});
					});
				});
			} else if ($(this).val() == "3") {
				$.get("/getallnut", function(data) {
					$.each(data, function(index, value) {
						var user = value;
						$("#sen").click(function() {
							var mes = $("textarea#message").val();
							var url = "/addchat";
							$.get(url, {
								user : user,
								mes : mes
							}).done(function(data) {
								$("#addbranch").modal("hide");
								location.reload();
							});
						});
					});
				});
			}
		});

		$("#manage").collapse({
			toggle : true
		});
	</script>
</body>
</html>
