<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Get detail of your food</title>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/sheet.css"></link>

<link rel="stylesheet"
	href="https://cdn.dataTables.net/1.10.16/css/jquery.dataTables.min.css"/>
	
<script src="../webjars/datatables/js/jquery.dataTables.min.js"></script>
<script src="../webjars/datatables/js/dataTables.bootstrap4.min.js"></script>


<script type="text/javascript">
	$(document).ready(function() {
		$("table").dataTable();
		$(".fname").dblclick(function() {
			var idx = $(".fname").index(this);
			var actorId = $(".bibleIds:eq(" + idx + ")").val();
			//var newName = prompt("Change", $(this).text());
			var currentName = $(this).text();
			var id = "newValue-fName"+idcal;
			$(this).html('<input type="text" id="'+id+'"/>');
			$("#"+id).val(currentName);
			var url = "/changeFoodName";
			var clicked = $(this);
			$("#"+id).change(function() {
				var newName = $(this).val();
				$.get(url, {
					x : idcal,
					y : newName
				}).done(function(data) {
					if (data)
						$(clicked).text(newName);
				});
			});

		});
	});
</script> 
<title>Insert title here</title>
</head>
	<body>
	<br></br>
	<br></br>
		<div class="container" >
		<nav class="navbar navbar-inverse navbar navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="#">Profil <span
								class="sr-only">(current)</span></a></li>
						<li><a href="#">Chat</a></li>
						<li><a href="#">Meal Plans</a></li>
						<li><a href="#">Track body</a></li>
						<li class="active"><a href="#">Get your food calories</a></li>
						<li><a href="#">Appointment</a></li>
						<li><a href="#">Take test</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						<button type="submit" class="btn btn-default" color="blue">Sign
							out</button>
					</form>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
				<table class="table table-striped table-sm">
				<thead>
					<tr>
						<td style="width:100px">Detail</td>
					</tr>
				 </thead>
				 <tbody>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Food name</td>
						<td th:text="${bible.foodname}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Calorie</td>
						<td th:text="${bible.calorie}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Protein</td>
						<td th:text="${bible.protein}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Fats</td>
						<td th:text="${bible.fats}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Carbohydrate</td>
						<td th:text="${bible.carbhdrt}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Calcium</td>
						<td th:text="${bible.calcium}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Phospor</td>
						<td th:text="${bible.phosphor}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Iron</td>
						<td th:text="${bible.iron}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Vit. A</td>
						<td th:text="${bible.vita}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Vit. B1</td>
						<td th:text="${bible.vitb1}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Vit. C</td>
						<td th:text="${bible.vitc}"></td>
					</tr>
					<tr th:each="bible : ${getDetail}">
						<td style="width:100px">Amount (gr)</td>
						<td th:text="${bible.amount}"></td>
					</tr>
					</tbody>
				</table>
			</div>	   		  
	</body>
</html>