<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>jQuery UI Autocomplete - Multiple, remote</title>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/sheet.css"></link>

<script type="text/javascript">
	$.get("/foodlist", function(data){
		$('#search').autocomplete({ 
		     source: data,
		     change: function (event, ui) { 
		    	 window.location = 'http://localhost:8145/caloriesbible/detailSearch/' + ui.item.value;
		    	 $('#searchname').val(ui.item.value);
		     }
		});
	});     
</script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<ul class="nav navbar-nav">
						<li class="active" color="blue"><a href="#">Home <span
								class="sr-only">(current)</span></a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Programme</a></li>
						<li><a href="#">Nutritionist</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						<button type="submit" class="btn btn-default" color="blue">Sign
							in</button>
					</form>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="jumbotron">
		<div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 col-sm-12 center-block"
						style="float: none">
						<div class="row">
							<div class="col-md-12" style="padding-top: 25px">
								<input type="text" class="typeahead form-control"
									required="required" name="inputnama"
									placeholder="Find out nutrition on your food.." id="search"></input>	
									<input type="text" id="searchname" size="60"></input>					
							<span class="input-group-btn">
								<a class="btn btn-primary" type="button" id="btn-search">Search</a>
							</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<footer class="footer-distributed">
			<div class="footer-left">
				<p class="footer-links">
					<a href="#">Home</a> 
					<br> <a href="#">About</a> </br>
					<a href="#">Programme</a>
					<br> <a href="#">Blog</a> </br> 
					<a href="#">Faq</a> 
					<br><a href="#">Contact</a></br>
				</p>
				<p class="footer-company-name">Company Name &copy; 2017</p>
			</div>
			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p>
						<span>21 Revolution Street</span> Paris, France
					</p>
				</div>
				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p>
						<a href="mailto:support@company.com">support@company.com</a>
					</p>
				</div>
			</div>
			<div class="footer-right">
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Pencarian..." id="search"> 
							</input>
							<span
								class="input-group-btn">
								<button class="btn btn-primary" type="button" id="btn-search">SEARCH</button>
							</span>
							<div id="searchname">
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
</body>
</html>