<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1" />

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script
        src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

        <link rel="stylesheet"
              href="https://cdn.dataTables.net/1.10.16/css/jquery.dataTables.min.css" />

        <script src="../webjars/datatables/js/jquery.dataTables.min.js"></script>
        <script src="../webjars/datatables/js/dataTables.bootstrap4.min.js"></script>
        <title>Insert title here</title>
        <script type="text/javascript">
            var simpan;
            var simpanID;


            function limit_checkbox(max, identifier)
            {
                var checkbox = $("input[name='" + identifier + "[]']");
                var checked = $("input[name='" + identifier + "[]']:checked").length;
                checkbox.filter(':not(:checked)').prop('disabled', checked >= max);
                simpan = $("input[name='" + identifier + "[]']:checked").val();
                alert(simpan);
                $("#chooseanswer").val(simpan);   
                
            }
          <!--  
            $('document').ready(function(e) 
            		{
            			    $('#chooseanswer').click( function()
            				{
            					$("#kalori").prop('checked', true);
            				});
            				$('#chooseanswer').click( function()
            				{
            					$("#id_4").prop('checked', true);
            				});
            	    });
            
-->
            function getQuestionID(id) {
                simpanID = id;
                $("#choosequestion").val(simpanID); 
            }

        </script>
    </head>
    <body>
    
<form action="#" th:action="@{/question/detail}" th:object="${getUserAnswer}" method="post">
 
   <div class="form-group">

            <ul>
			 <li th:each="x : ${objQuestion.correctanswersList}">			    
			    <input type="radio" id="chooseanswer" th:field="*{choosenanswerid}" th:value="${x.answers.idanswer}" />
			    <label th:for="${getUserAnswer.choosenanswerid}" th:text="${x.answers.answer}" >Wireframe</label>
			   <!--  		    			    
			    <label th:for="${getUserAnswer.resulttemp}" th:text="${x.caloriesneed}" ></label>
			    <input type="hidden" id="kalori" th:field="*{resulttemp}" th:value="${x.caloriesneed}" />
			    --> 	
			  </li>
			</ul>						
               
                <label th:for="${getUserAnswer.useranswersPK}">Choose</label>	
                <div th:each="x : ${objQuestion.correctanswersList}">	
                    <input type="hidden" id="choosequestion" th:value="${x.question.questionid}" th:field="*{useranswersPK.questionid}" th:errorclass="fieldError" />		
                </div>
     <!--   
            <div >	
                <button type="submit" id="simpan"  size="60" 
                 formmethod="post">Simpan</button>	
            </div>	
             
                <label th:for="${getUserAnswer.resulttemp}">Choose</label>	
                <div th:each="x : ${getNutrition}">	
                    <input type="hidden" th:value="${x.caloriesneed}" th:field="*{resulttemp}" th:errorclass="fieldError" />		
                </div> --> 
              
            <div th:each="x : ${objQuestion}">	
                <button type="hidden" id="simpan" th:value="${x.questionid}" size="60" 
                        onclick="getQuestionID(this.value)">Simpan</button>	
            </div>	
              
     </div>	
        </form>
    </body>
</html>



<!-- 		
			     <div th:each="x : ${objQuestion}">	
			     	<label th:for="${getUserAnswer.question.questionid}" th:value="${x.questionid}" ></label>
			     </div>
			     
             <div th:each="x : ${objQuestion}">	
                <td th:text="${x.questions}" class="getQuestionID" th:value="${x.questions}"></td>	
            </div>            
            <div th:each="x : ${objQuestion.correctanswersList}">
                <input type="checkbox" name="check[]" th:value="${x.answers.idanswer}" onchange="limit_checkbox(1, 'check');">			 
                <td th:text="${x.answers.answer}"  class="questionanswer" 
                    questionId="${x.question.questionid}"></td>
                </input>
            </div>
            
            <label th:for="${getUserAnswer.patient.userpatient}">Patient</label>
            <input type="text" class="form-control" id="inputPatient"  th:field="*{userpatient}" size="60" placeholder="P001"/>     
            	
             <label th:for="${getUserAnswer.question.questionid}">Choose</label>
             <div th:each="x : ${objQuestion.correctanswersList}">		
                    <input type="text" id="choosequestion" th:field="*{questionid}" th:errorclass="fieldError" />		
                    <p th:if="${#fields.hasErrors('questionid')}" th:errors="*{questionid}">Choose</p>
             </div>
             						
             <div th:each="x : ${objQuestion}">	
                <button type="submit" id="simpan" th:value="${x.questionid}" size="60" 
                        onclick="getQuestionID(this.value)" formmethod="post">Simpan</button>	
            </div>							
            						
            						 -->