<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet"
	href="https://cdn.dataTables.net/1.10.16/css/jquery.dataTables.min.css" />

<script src="../webjars/datatables/js/jquery.dataTables.min.js"></script>
<script src="../webjars/datatables/js/dataTables.bootstrap4.min.js"></script>

<title>Insert title here</title>
<script type="text/javascript">
var simpan="";
	function limit_checkbox(max,identifier)
	{
		var checkbox = $("input[name='"+identifier+"[]']");
		var checked  = $("input[name='"+identifier+"[]']:checked").length;
		checkbox.filter(':not(:checked)').prop('disabled', checked >= max);
		document.getElementById("result").value=$("input[name='"+identifier+"[]']:checked").val();	
		simpan=$("input[name='"+identifier+"[]']:checked").val();	
		save_val(('#getQuestion').value);
	}	
	
	 function save_val(va) {
		 alert(va);
	 }
	 
</script>
</head>
<body>
		<div th:each="Detailquestion : ${allCorrect}">
				<td th:text="${Detailquestion.question.questions}"></td>			
		</div>
		
		<div th:each="x : ${objQuiz}">
			 <input type="checkbox" name="check[]" th:value="${x.answers.idanswer}" onchange="limit_checkbox(1,'check');" 
			>
			 	<td th:text="${x.answers.answer}" id="getQuestion"
					th:value="${x.question.questionid}"></td>				
			 </input>
		</div> 
		<input type="text" id="result" size="60"></input>
		
<!-- Modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  				Start test
			</button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">      
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div th:each="x : ${objQuiz}">
			 <input type="checkbox" name="check[]" th:value="${x.answers.idanswer}" onchange="limit_checkbox(1,'check');" 
			>
			 	<td th:text="${x.answers.answer}" id="getQuestion"
					th:value="${x.question.questionid}"></td>				
			 </input>
		</div> 
		<input type="text" id="result" size="60"></input>
      </div>
      <div class="modal-footer">
        <nav aria-label="...">
		  <ul class="pagination">
		    <li class="page-item disabled">
		      <a class="page-link" href="#" tabindex="-1">Previous</a>
		    </li>
		    <li class="page-item active">
		    <li class="page-item"><a class="page-link" href="http://localhost:8145/correctanswer/detailquiz/1#">1<span class="sr-only">(current)</span></a></li>
		    </li>
		      <a class="page-link" href="http://localhost:8145/correctanswer/detailquiz/2#">2</a>		    
		    <li class="page-item"><a class="page-link" href="http://localhost:8145/correctanswer/detailquiz/3#">3</a></li>
		    <li class="page-item"><a class="page-link" href="http://localhost:8145/correctanswer/detailquiz/4#">4</a></li>
		    <li class="page-item"><a class="page-link" href="http://localhost:8145/correctanswer/detailquiz/5#">5</a></li>
		    		    <li class="page-item">
		      <a class="page-link" href="#">Next</a>
		    </li>
		  </ul>
		</nav>
      </div>
    </div>
  </div>
</div>
</body>
</html>

	